<!--Panel for displaying List -->
	
<!-- Div for choosing number of items to display -->
<div layout="row" layout-align="end center" layout-fill>
	<md-whiteframe class="md-whiteframe-z2" flex="40" flex-sm="60" flex-md="60">
		<md-subheader class="md-primary">
			Search Parameters
		</md-subheader>

		<div layout="row" layout-align="center center" layout-padding>
			<md-input-container >
				<label> Search by Name </label>
				<input type="text" class="form-control" id="inputName" ng-model="animeListController.searchParameter.name" ng-model-options="{debounce : 1000}" ng-change="animeListController.searchParameterNameChange()">
			</md-input-container >

			<md-input-container>
				<label> Number of Result </label>
				<input type="number" class="form-control" id="inputLimit" ng-model="animeListController.searchParameter.limit" ng-model-options="{debounce : 500}" ng-change="animeListController.getAnimeList()">
			</md-input-container>			
		</div>	
	</md-whiteframe>
</div>	

<md-whiteframe class="md-whiteframe-z2" layout="column" layout-padding >
	<md-content>
		<md-list>
			<md-subheader class="md-no-sticky">Search result</md-subheader>
			<md-divider></md-divider>
			<md-list-item>				
				<div flex="70"> Name </div>
				<div flex="15"> Type </div>
				<div flex="15"> Date </div>
				<md-divider></md-divider>
			</md-list-item>
			<md-list-item ng-repeat="anime in animeListController.animes">
				<div flex="70"> <a href="http://www.animenewsnetwork.com/encyclopedia/anime.php?id={{anime.id}}" target="_blank">{{anime.name}}</a> </div>
				<div flex="15"> {{anime.type}} </div>
				<div flex="15"> {{anime.date}} </div>
				<md-divider></md-divider>
			</md-list-item>
		</md-list>			
	</md-content>

	<!-- Div for table navigation button -->
	<div flex layout="row" layout-align="end center">		
		<md-button class="md-raised" 
			ng-click="animeListController.previousPage()" 
			ng-disabled="animeListController.isStart()">Previous</md-button>
		<md-button class="md-raised" ng-click="animeListController.nextPage()">Next</md-button>		
	</div>

</md-whiteframe>